.search-results__container{
  width: 100%;
}
.search-result__container {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0,0,0,.1);
}

.search-result__description {
  color: rgba(0,0,0,.6);
}