.searchInput {
  background: none;
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  font-size: 16px;
  letter-spacing: 0px;
  border: none;
  outline: unset;
  height: 40px;
  padding-left: 10px;
  border-radius: 0;
  width: calc(100% - 10px);
  -webkit-appearance: none;
}
